<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>979483664997-vedccrdbcqcb4q0bit4robtt33klcs3f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.979483664997-vedccrdbcqcb4q0bit4robtt33klcs3f</string>
	<key>API_KEY</key>
	<string>AIzaSyBVuKfC82iaTkpdRd13rCrdYUhF6TRlS0o</string>
	<key>GCM_SENDER_ID</key>
	<string>979483664997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.cherrystudio.classic10</string>
	<key>PROJECT_ID</key>
	<string>classic10-24288</string>
	<key>STORAGE_BUCKET</key>
	<string>classic10-24288.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979483664997:ios:cb2ac3f8cf80a787525c8c</string>
</dict>
</plist>